<meta charset="UTF-8">

<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>


<form action="/index/search" method="get">
    <!--
    Title : <input type="text" name="title"/><br>
    Author : <input type="text" name="author"/><br>
    ISBN: <input name="isbn"></textarea><br>
    -->
    <button type="submit">Search</button>
</form>
